# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
.venv/
ENV/
env/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Generated visualizations
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.mp4
# OS specific files
.DS_Store
Thumbs.db

_tmp/
data/
*.html
ds-component-pixi/main
examples/datastar-pixijs-component/main
examples/datastar-pixijs-component/go.mod
examples/datastar-pixijs-component/go.sum
examples/datastar-pixijs-component/main.go
examples/datastar-pixijs-component/static/js/pixi-mangled-text.js
examples/datastar-pixijs-component/static/js/reverse-component.js
